<a href="https://colab.research.google.com/github/TakiyaGenji2/Suzuran/blob/main/Daspro%206.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import the pandas Library
import pandas as pd

ipl_data= {'Team':['riders','riders','devils','devils','kings','kings','kings','kings','riders','royals','royals','riders'],
           'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],
           'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
           'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)
print(df)

      Team  Rank  Year  Points
0   riders     1  2014     876
1   riders     2  2015     789
2   devils     2  2014     863
3   devils     3  2015     673
4    kings     3  2014     741
5    kings     4  2015     812
6    kings     1  2016     756
7    kings     1  2017     788
8   riders     2  2016     694
9   royals     4  2014     701
10  royals     1  2015     804
11  riders     2  2017     690

In [ ]:
#import the pandas library
import pandas as pd

ipl_data= {'Team':['riders','riders','devils','devils','kings','kings','kings','kings','riders','royals','royals','riders'],
           'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],
           'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
           'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)
print(df.groupby('Team').groups)

{'devils': [2, 3], 'kings': [4, 5, 6, 7], 'riders': [0, 1, 8, 11], 'royals': [9, 10]}

In [ ]:
#import the pandas library
import pandas as pd

ipl_data= {'Team':['riders','riders','devils','devils','kings','kings','kings','kings','riders','royals','royals','riders'],
           'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],
           'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
           'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)
print(df.groupby(['Team','Year']).groups)

{('devils', 2014): [2], ('devils', 2015): [3], ('kings', 2014): [4], ('kings', 2015): [5], ('kings', 2016): [6], ('kings', 2017): [7], ('riders', 2014): [0], ('riders', 2015): [1], ('riders', 2016): [8], ('riders', 2017): [11], ('royals', 2014): [9], ('royals', 2015): [10]}

In [ ]:
#import the pandas library
import pandas as pd

ipl_data= {'Team':['riders','riders','devils','devils','kings','kings','kings','kings','riders','royals','royals','riders'],
           'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],
           'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
           'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)
grouped=df.groupby('Year')

for name,group in grouped:
  print(name)
  print(group)

2014
     Team  Rank  Year  Points
0  riders     1  2014     876
2  devils     2  2014     863
4   kings     3  2014     741
9  royals     4  2014     701
2015
      Team  Rank  Year  Points
1   riders     2  2015     789
3   devils     3  2015     673
5    kings     4  2015     812
10  royals     1  2015     804
2016
     Team  Rank  Year  Points
6   kings     1  2016     756
8  riders     2  2016     694
2017
      Team  Rank  Year  Points
7    kings     1  2017     788
11  riders     2  2017     690

In [ ]:
#import the pandas library
import pandas as pd

ipl_data= {'Team':['riders','riders','devils','devils','kings','kings','kings','kings','riders','royals','royals','riders'],
           'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],
           'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
           'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)
grouped=df.groupby('Year')
print(grouped.get_group(2014))

     Team  Rank  Year  Points
0  riders     1  2014     876
2  devils     2  2014     863
4   kings     3  2014     741
9  royals     4  2014     701

In [ ]:
#import the pandas library
import pandas as pd
import numpy as np

ipl_data= {'Team':['riders','riders','devils','devils','kings','kings','kings','kings','riders','royals','royals','riders'],
           'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],
           'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
           'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)

grouped=df.groupby('Year')
print(grouped['Points'].agg(np.mean))

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64

In [ ]:
#import the pandas library
import pandas as pd
import numpy as np

ipl_data= {'Team':['riders','riders','devils','devils','kings','kings','kings','kings','riders','royals','royals','riders'],
           'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],
           'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
           'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)

#attribute access in python pandas
grouped=df.groupby('Team')
print(grouped.agg(np.size))

        Rank  Year  Points
Team
devils     2     2       2
kings      4     4       4
riders     4     4       4
royals     2     2       2

In [ ]:
#import the pandas library
import pandas as pd
import numpy as np

ipl_data= {'Team':['riders','riders','devils','devils','kings','kings','kings','kings','riders','royals','royals','riders'],
           'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],
           'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
           'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)

grouped=df.groupby('Team')
print(grouped['Points'].agg([np.sum, np.mean, np.std]))

         sum    mean         std
Team
devils  1536  768.00  134.350288
kings   3097  774.25   31.899582
riders  3049  762.25   88.567771
royals  1505  752.50   72.831998

In [ ]:
#import the pandas library
import pandas as pd
import numpy as np

ipl_data= {'Team':['riders','riders','devils','devils','kings','kings','kings','kings','riders','royals','royals','riders'],
           'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],
           'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
           'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)

grouped=df.groupby('Team')
score=lambda x:(x-x.mean())/x.std()*10
print(grouped.transform(score))

         Rank       Year     Points
0  -15.000000 -11.618950  12.843272
1    5.000000  -3.872983   3.020286
2   -7.071068  -7.071068   7.071068
3    7.071068   7.071068  -7.071068
4    5.000000 -11.618950 -10.423334
5   11.666667  -3.872983  11.834011
6   -8.333333   3.872983  -5.721078
7   -8.333333  11.618950   4.310401
8    5.000000   3.872983  -7.705963
9    7.071068  -7.071068  -7.071068
10  -7.071068   7.071068   7.071068
11   5.000000  11.618950  -8.157595

In [ ]:
#import the pandas library
import pandas as pd
import numpy as np

ipl_data= {'Team':['riders','riders','devils','devils','kings','kings','kings','kings','riders','royals','royals','riders'],
           'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],
           'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
           'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)

print(df.groupby('Team').filter(lambda x:len(x)>=3))

      Team  Rank  Year  Points
0   riders     1  2014     876
1   riders     2  2015     789
4    kings     3  2014     741
5    kings     4  2015     812
6    kings     1  2016     756
7    kings     1  2017     788
8   riders     2  2016     694
11  riders     2  2017     690

In [ ]:
def multiply(x):
  return x*x
def add(x):
  return x+x

funcs=[multiply,add]
for i in range(5):
  value=list(map(lambda x:x(i),funcs))
  print(value)

[0, 0]
[1, 2]
[4, 4]
[9, 6]
[16, 8]

In [ ]:
#List alfabet
alfabet=['a','b','c','e','i','k','o','z']
#fungsi penyaring huruf vokal
def filter_vocal(alfabet):
  vocal=['a','i','u','e','o']
  if alfabet in vocal:
    return True
  else:
    return False

vocal_terfilter=filter(filter_vocal, alfabet)
print('Huruf vocal yang tersaring adalah :')
for vocal in vocal_terfilter:
  print(vocal)

Huruf vocal yang tersaring adalah :
a
e
i
o

In [1]:
#Python code to demonstrate working of
#heapyfy(), heappush(), and heappop()
#importing,"heapq" to implement heap queue
import heapq
#initializing list
li = [5, 7, 9, 1, 3, 7]
#Using heapify to convert list into heap
heapq.heapify(li)
#printing created heap
print ("The created heap is :", end="")
print (list(li))

#using heappush() to push elemnets into heap
#pushes 4
heapq.heappush(li,4)

#printing modified heap
print ("The modified heap after push is :", end="")
print (list(li))

#using heappop() to pop smallest element
print ("The popped and smallest element is :", end="")
print (heapq.heappop(li))

The created heap is :[1, 3, 7, 7, 5, 9]
The modified heap after push is :[1, 3, 4, 7, 5, 9, 7]
The popped and smallest element is :1